<!DOCTYPE html>
<html lang="en">

<head>
    <title>FIND RESULT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .bcontent {
            margin-top: 30px;
        }

        .card-header {
            text-align: center;
            background-color: #9beebb;
            border-color: black;
        }

        .btn1 {
            margin-left: 200px;
            margin-bottom: 10px;
            text-align: center;
            margin-right: 10px;
        }

        .btn2 {
            margin-bottom: 10px;
        }


        h5 {
            text-align: center;
        }

        .alignleft {
            text-align: center;


        }

        .alignright {
            text-align: right;
            margin-right: 50px;
        }
    </style>
</head>

<body>
    <div class="container bcontent">

        <div class="card">
            <div class="card-header alignleft">
                <h3><b>RESULT MANAGEMENT SYSTEM</b></h3>
                <p class="alignright">
                    <button> <a href="/logout">Logout</a></button>
                </p>
            </div>
            <div class="card-body">

                <h5><b>EDIT RESULT</b></h5>
                <br>
                <form action="/update/<%= data.Roll_No %>" method="post">

                    <div class="row mb-3">
                        <label class="required  col-sm-2 col-form-label ">ROLL NO.:</label>
                        <div class="col-sm-10">
                            <%= data.Roll_No %>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label class="required  col-sm-2 col-form-label ">Score</label>
                        <div class="col-sm-10">
                            <input type="text" name="Score" id="Score" value="<%= data.Score %>"
                                class="form-control col-sm-6" required>
                        </div>
                    </div>


                    <div class="text-left">
                        <button type="submit" class="btn btn-primary btn1 ">SUBMIT</button>
                        <button type="reset" value="reset" class="btn btn-danger btn2">CLEAR</button>
                    </div>



                </form>



            </div>

        </div>
    </div>
</body>

</html>