<html>

<head>
	<title>Login page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<style>
		.card-header {
			text-align: center;
			background-color: #9ff3c2;
			border-color: black;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
		}

		.alignleft {
			text-align: center;


		}

		.coll {
			font-size: 20px;
			padding-top: 60px;
		}
	</style>
</head>

<body>
	<div class="card-header alignleft">
		<h3><b>RESULT MANAGEMENT SYSTEM</b></h3>

	</div>

	<div class="container">
		<div class="row">
			<div class="coll" align="center">
				Login As <br><br>
				<a href="/teacherLogin" class="btn btn-primary btn1">TEACHER</a>
				<a href="/find" class="btn btn-primary btn1">STUDENT</a>
			</div>
		</div>
	</div>




</body>

</html>